@model IEnumerable<SnackExchange.Web.Models.Offer>
@inject Microsoft.AspNetCore.Identity.UserManager<SnackExchange.Web.Models.Auth.AppUser> userManager;

@{
    ViewData["Title"] = "Index";

    SnackExchange.Web.Models.Auth.AppUser user = null;
    if (User.Identity.IsAuthenticated)
    {
        user = userManager.FindByNameAsync(User.Identity.Name).Result;
    }
}

<h1>My Offer History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Offerer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfferNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Offerer.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OfferNotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <button type="button" class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Details", "Offers", item)'">Details</button>
                    @if (user.Email == item.Offerer.Email && (item.Status == OfferStatus.Waiting))
                    {
                        <button type="button" class="btn btn-warning btn-sm" onclick="location.href='@Url.Action("Edit", "Offers", item)'">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete", "Offers", item)'">Delete</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
