@model IEnumerable<SnackExchange.Web.Models.Exchange>
@inject Microsoft.AspNetCore.Identity.UserManager<SnackExchange.Web.Models.Auth.AppUser> userManager;

@{
    ViewData["Title"] = "Home Page";

    SnackExchange.Web.Models.Auth.AppUser user = null;
    if (User.Identity.IsAuthenticated)
    {
        user = userManager.FindByNameAsync(User.Identity.Name).Result;
    }
}



@if (Model != null && Model.Count() > 0)
{
    <h1>Exchange TimeLine</h1>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <h4 class="card-header">
                        @Html.Raw(item.Sender.Email)
                    </h4>
                    <div class="card-body">
                        <p class="card-text">@Html.Raw(item.ExchangeNotes)</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-info btn-md" onclick="location.href='@Url.Action("Details", "Exchanges", item)'">Details</button>
                        @if (user.Email == item.Sender.Email)
                        {
                            <button type="button" class="btn btn-warning btn-md" onclick="location.href='@Url.Action("Edit", "Exchanges", item)'">Edit</button>
                            <button type="button" class="btn btn-danger btn-md" onclick="location.href='@Url.Action("Delete", "Exchanges", item)'">Delete</button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Raw("<h1>There are no exchanges!</h1>")
    }
    else
    {
        @Html.Raw("<h1>Register or Login</h1>")
    }
}


